<head>
	<link type="text/css" rel="stylesheet" href="../static/styles/css.css"/>
</head>
<div id="loading"></div>
<div id="content"></div>
<form id="form" action="#" method="post">
	<p>Robin-Book</p>
	<p><input type="text" name="k_email" placeholder="EMAIL"/></p>
	<p><input type="text" name="b_name" placeholder="BOOKNAME"/></p>	
	<p><input id="nao" type="submit" class="button" value="BUSCAR" onclick="LOAD()"/></p>
<script type="text/javascript" src="../static/scripts/js.js"></script>
<br>
<h3>Me pague um café?  *---*</h3>
<h3>PIX: alanrioscostaoff@gmail.com</h3>
<img src="https://avatars.githubusercontent.com/u/83123269?s=200&v=4" alt="" />
